@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #333;
    margin: 0 auto;
    min-height: 100%;
    width: 1200px;

}

.container {
    width: 100%;
    max-width: 1090px;
    margin: 0 auto;
    padding: 0 15px;
}

/*--- Прячущий класс ---*/
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*--- Buttons ---*/
.btn {
    font-family: inherit;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: none;
    padding: 8px 0;
    color: #fff;
    background: none;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    border-radius: 4px;
}

.btn--brown {
    background-color: #756157;
}

.btn--blue {
    background-color: #82B3D3;
}

.btn--size-l {
    font-size: 20px;
    line-height: 36px;
    padding: 8px 50px;
}

.btn--subscribe {
    border-radius: 0 4px 4px 0;
}

.btn.active {
    background-color: #7DB54F;
}

.main {
    flex-grow: 1;
}

/*--- Page Header ---*/
.header__container {
    display: flex;
}

.header__logo {
    margin: 0 30px -6px 0;
    z-index: 10;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: capitalize;
}

.nav__list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
}

.nav__link {
    display: block;
    text-align: center;
    color: #000;
    text-decoration: none;
    padding: 20px 16px;
    position: relative;
}

.nav__link::after {
    content: '';
    height: 2px;
    position: absolute;
    width: calc(100% - 32px);
    bottom: 0;
    background-color: #756157;
    left: 16px;
    opacity: 0;
    transition: opacity 0.2s ease;
}

.nav__link:hover::after {
    opacity: 1;
    transition: opacity 0.2s ease;
}

.nav__link.active::after {
    opacity: 1;
}

.nav__user-side {
    display: flex;
}

.nav__icon {
    padding: 20px 22px;
    transition: opacity 0.2s ease;
}

.nav__icon:hover {
    opacity: 0.5;
    transition: opacity 0.2s ease;
}

.nav__icon-search {
    background: url("../images/components/navigation/nav-1.svg") no-repeat center;
}

.nav__icon-favorites {
    background: url("../images/components/navigation/nav-2.svg") no-repeat center;
}

.nav__btn {
    width: 160px;
    align-self: center;
    margin-left: 20px;
}

/*--- Intro ---*/
.intro {
    background: url("../images/index/intro/intro-bg-mask.svg") no-repeat bottom / 100% auto,
    url("../images/index/intro/intro-bg.jpg") no-repeat center /cover,
    #c0695b;
    padding: 51px 0 82px;
}

.intro__title {
    display: block;
    margin: 0 auto;
}

/*--- Section Header-style ---*/
.section__header {
    text-align: center;
    margin: 0 auto;
    color: #000;
}

.section__title {
    color: inherit;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    margin: 0 0 20px;
}

.section__description {
    font-size: 22px;
    line-height: 26px;
    margin: 0;
}

/*--- Component Card ---*/
.card {
    display: flex;
    flex-direction: column;
    min-height: 385px;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 0 85px;
    flex-grow: 1;
}

.card__title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    width: 175px;
    margin: 0 0 30px 0;
}

.card__text {
    margin: 0;
}

/*--- Section Benefits ---*/
.benefits .section__header {
    padding: 69px 0 90px;
    width: 680px;
}

.benefits .section__title {
    margin-bottom: 25px;
}

.benefits__list {
    list-style: none;
    text-align: center;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.benefits__item {
    display: flex;
    flex: 1 0 400px;
}

.benefits__item:first-of-type,
.benefits__item:last-of-type {
    background-color: #82B3D3;
    color: #fff;
}

.benefits__item:first-of-type ::after,
.benefits__item:last-of-type ::after {
    background-color: #fff;
}

.benefits__item:nth-of-type(odd):not(:first-of-type):not(:last-of-type) {
    background-color: #83B3D333;
}

.card__title--benefits::after {
    content: '';
    display: block;
    background-color: #000;
    height: 2px;
    width: 60px;
    opacity: 0.3;
    margin: 30px auto 0;
}

/*--- Section Services ---*/
.services .section__header {
    padding: 64px 0;
    width: 510px;
}

.services__list {
    display: flex;
    list-style: none;
    text-align: center;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.services__card {
    flex-basis: 400px;
}

.services__card:nth-of-type(odd) {
    background-color: #83B3D31E;
}

.services__icon {
    margin-bottom: 30px;
}

/*--- Section Hotel-Search ---*/
.hotel-search {
    padding: 96px 0;
    display: flex;
    flex-direction: column;
}

.hotel-search .section__header {
    margin-bottom: 54px;
    width: 600px;
}

.hotel-search .btn {
    margin: 0 auto;
}

/*--- Section Subscription ---*/
.subscription {
    padding-bottom: 104px;
}

.subscription--index {
    background: url("../images/index/subscription-bg.jpg") no-repeat center,
    #756157;
    background-size: cover;
}

.subscription .section__header {
    padding: 96px 0 54px;
    color: #000;
    width: 475px;
}

.subscription--index .section__header {
    color: #fff;
}

.subscription__form {
    display: flex;
    justify-content: center;
}

.subscription__input {
    min-width: 452px;
    padding: 0 20px;
    border-radius: 4px 0 0 4px;
    border: none;
    font-size: inherit;
    line-height: 24px;
    background-color: #F2F2F2;
    outline: none;
}

.subscription__input--shadow {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
}

/*--- Footer ---*/
.footer__container {
    display: flex;
    padding: 40px 0 30px;
    justify-content: space-between;
}

.footer__tel {
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    text-align: center;
    color: #000;
    text-decoration: none
}

/*=============== CATALOG ===============*/
/*--- Header ---*/
.catalog__header {
    color: #fff;
    background: url("../images/catalog/catalog-filter-bg.jpg") no-repeat center,
    #756157;
    background-size: cover;
    padding: 35px 0 70px;
}

.catalog__title {
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    margin: 0 0 8px 0;
}

.breadcrumbs {
    display: flex;
    list-style: none;
    font-size: 16px;
    padding: 0;
    margin: 0 0 40px 0;
}

/*--- Section Filter ---*/
.filter__form {
    display: flex;
}

.filter__group {
    min-width: 150px;
    padding: 0;
    margin: 0 70px 0 0;
    border: none;
}

.filter__group--cost {
    width: 288px;
    margin-left: auto;
}

.filter__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: capitalize;
    margin-bottom: 32px;
}

.filter__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.filter__list--inputs {
    row-gap: 36px;
}

.filter__item--inputs {
    display: flex;
    column-gap: 2px;
}

.field {
    flex-basis: 50%;
}

.control {
    line-height: 23px;
}

.field__input {
    font-family: inherit;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #000;
    width: 100%;
    padding: 12px 20px;
    border: none;
}
.field__input--start {
    border-radius: 4px 0 0 4px;
}
.field__input--end{
    border-radius: 0 4px 4px 0;
}

.filter__buttons {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    row-gap: 32px;
    width: 191px;
}

/*--- Section Hotels ---*/
.hotels__header {
    display: flex;
    align-items: center;
    padding: 50px 0 40px;
}

.hotel__filter-buttons {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.hotels__found-info {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #000;
    margin: 0;
}

.select-control {
    font-family: inherit;
    font-size: 18px;
    line-height: 21px;
    margin-right: 70px;
}

.sort-button__list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

/*--- Hotels List ---*/
.hotels {
    padding-bottom: 60px;
}

.hotels__list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;
    padding: 0 0 40px 0;
    margin: 0 0 40px 0;
    border-bottom: 1px solid #E6E6E6;
}

.hotels__item {
    border: 1px solid #E6E6E6;
    border-radius: 4px;
    padding: 20px;
    flex: 0 0 340px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.hotels__photo {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

.hotels__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000;
    margin: 0;
}

.hotels__description,
.hotels__rating,
.hotels__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    column-gap: 20px;
}

.hotels__buttons .btn,
.hotels__rating > * {
    flex: 1 1 50%;
}

.rating__value {
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
    background-color: #F2F2F2;
    border-radius: 4px;
    padding: 9px 0;
}

/*--- Pagination ---*/
.pagination {
    display: flex;
    list-style: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    column-gap: 8px;
    padding: 0;
    margin: 0;
}

.pagination__link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    border-radius: 4px;
    color: #fff;
    background-color: #82B3D3;
    text-decoration: none;
}

.pagination__link.active {
    color: #000;
    background-color: #F2F2F2;
}

.pagination--more {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
}