@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}
@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #333;
}
/*--- Прямчущий класс ---*/
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/*--- Buttons ---*/
.btn {
    font-family: "PT Sans", sans-serif;
    display: block;
    cursor: pointer;
    outline: none;
    border: none;
    padding: 8px 0;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    border-radius: 4px;
}
.btn--nav {
    background-color: #756157;
    width: 160px;
}
.btn--hotel-search {
    background-color: #756157;
    width: 376px;
    font-size: 20px;
    line-height: 36px;
}
.btn--subscribe {
    background-color: #82B3D3;
    font-size: 20px;
    line-height: 36px;
    border-radius: 0 4px 4px 0;
    width: 232px;
}
.btn--filter {
    background-color: #82B3D3;
    width: 191px;
}
.btn--bg-none {
    background-color: transparent;
}
.btn--hotels {
    background-color: #82B3D3;
    width: 140px;
}
.btn--hotels.active {
    background-color: #7DB54F;
}
.btn--hotels-more {
    background-color: #756157;
}
/*--- Page Header ---*/
.header__nav {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: capitalize;
    color: #000;
}
/*--- Intro ---*/
.intro {
    background:
            url("../images/index/intro/intro-bg-mask.svg") no-repeat bottom,
            url("../images/index/intro/intro-bg.jpg") no-repeat center,
            #c0695b;
    background-size: 100% auto;
    padding: 51px 0 82px;
}
.intro__title {
    display: block;
    margin: 0 auto;
}
/*--- Section Header-style ---*/
.section__header {
    padding: 64px 0;
    text-align: center;
}
.section__title {
    color: #000;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}
.section__description {
    font-size: 22px;
    line-height: 26px;
}

/*--- Component Card ---*/
.card {
    width: 400px;
    min-height: 384px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 230px;
}
.card__title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    width: 175px;
    margin: 0;
}
.card__text {
    margin: 0;
}
/*--- Section Benefits ---*/
.benefits__list {
    list-style: none;
    text-align: center;
    padding: 0;
}
.benefits__item {
    display: flex;
}
.benefits__item:first-of-type,
.benefits__item:last-of-type {
    background-color: #82B3D3;
    color: #fff;
}
.benefits__item:first-of-type ::after,
.benefits__item:last-of-type ::after {
    background-color: #fff;
}
.benefits__item:nth-of-type(odd):not(:first-of-type):not(:last-of-type) {
    background-color: #83B3D333;
}
.card__title--benefits::after {
    content: '';
    display: block;
    background-color: #000;
    height: 2px;
    width: 60px;
    opacity: 0.3;
    margin: 30px auto;
}
/*--- Section Services ---*/
.services__list {
    display: flex;
    list-style: none;
    text-align: center;
    padding: 0;
}
.services__item {
    min-height: 384px;
    display: flex;
    width: 100%;
    max-width: 400px;
}