@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}
@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    width: 1200px;
    margin: 0 auto;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #333;
}
/*--- Прячущий класс ---*/
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/*--- Buttons ---*/
.btn {
    font-family: "PT Sans", sans-serif;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: none;
    padding: 8px 0;
    color: #fff;
    background: none;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    border-radius: 4px;
}
.btn--brown {
    background-color: #756157;
}
.btn--size-l {
    font-size: 20px;
    line-height: 36px;
    padding: 8px 50px;
}
.btn--subscribe {
    border-radius: 0 4px 4px 0;
}
.btn--blue {
    background-color: #82B3D3;
}
.btn.active {
    background-color: #7DB54F;
}
/*--- Page Header ---*/
.page__header {
    display: flex;
    padding: 0 70px;
}
.header__logo {
    margin-right: 30px;
    margin-bottom: -6px;
}
.header__nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: capitalize;
}
.nav__list {
    display: flex;
    list-style: none;
    padding: 0;
}
.nav__link{
    text-align: center;
    color: #000;
    text-decoration: none;
    padding: 20px 16px;
    position: relative;
}
.nav__link::after {
    content: '';
    height: 2px;
    position: absolute;
    width: calc(100% - 32px);
    bottom: 0;
    background-color: #756157;
    left: 16px;
    opacity: 0;
    transition: opacity 0.2s ease;
}
.nav__link:hover::after {
    opacity: 1;
    transition: opacity 0.2s ease;
}
.nav__user-side {
    display: flex;
}
.nav__btn {
    width: 160px;
    align-self: center;
}
/*--- Intro ---*/
.intro {
    background:
            url("../images/index/intro/intro-bg-mask.svg") no-repeat bottom,
            url("../images/index/intro/intro-bg.jpg") no-repeat center,
            #c0695b;
    background-size: 100% auto;
    padding: 51px 0 82px;
}
.intro__title {
    display: block;
    margin: 0 auto;
}
/*--- Section Header-style ---*/
.section__header {
    text-align: center;
    margin: 0 auto;
    color: #000;
}
.section__title {
    color: inherit;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    margin: 0 0 20px;
}
.section__description {
    font-size: 22px;
    line-height: 26px;
    margin: 0;
}

/*--- Component Card ---*/
.card {
    width: 400px;
    min-height: 384px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 230px;
}
.card__title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    width: 175px;
    margin: 0 0 30px 0;
}
.card__text {
    margin: 0;
}
/*--- Section Benefits ---*/
.benefits .section__header {
    padding: 69px 0 90px;
    width: 680px;
}
.benefits__list {
    list-style: none;
    text-align: center;
    padding: 0;
}
.benefits__item {
    display: flex;
}
.benefits__item:first-of-type,
.benefits__item:last-of-type {
    background-color: #82B3D3;
    color: #fff;
}
.benefits__item:first-of-type ::after,
.benefits__item:last-of-type ::after {
    background-color: #fff;
}
.benefits__item:nth-of-type(odd):not(:first-of-type):not(:last-of-type) {
    background-color: #83B3D333;
}
.card__title--benefits::after {
    content: '';
    display: block;
    background-color: #000;
    height: 2px;
    width: 60px;
    opacity: 0.3;
    margin: 30px auto 0;
}
/*--- Section Services ---*/
.services .section__header {
    padding: 64px 0;
    width: 510px;
}
.services__list {
    display: flex;
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}
.services__card:nth-of-type(odd) {
    background-color: #83B3D31E;
}
.services__icon {
    margin-bottom: 30px;
}
/*--- Section Hotel-Search ---*/
.hotel-search {
    padding: 96px 0;
}
.hotel-search .section__header {
    margin-bottom: 54px;
    width: 600px;
}
.hotel-search .btn {
    margin: 0 auto;
}
/*--- Section Subscription ---*/
.subscription {
    padding-bottom: 104px;
}
.subscription--index {
    background: url("../images/index/subscription-bg.jpg") no-repeat;
    background-size: 100% auto;
}
.subscription .section__header {
    padding: 96px 0 54px;
    color: #000;
    width: 475px;
}
.subscription--index .section__header {
    color: #fff;
}
.subscription__form {
    display: flex;
    justify-content: center;
}
/*--- Footer ---*/
.page__footer {
    display: flex;
    padding: 40px 70px 30px;
    justify-content: space-between;
}
.footer__tel {
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    text-align: center;
    color: #000;
    text-decoration: none
}
/*=============== CATALOG ===============*/
/*--- Header ---*/
.catalog__header {
    color: #fff;
    background: url("../images/catalog/catalog-filter-bg.jpg") no-repeat center;
    background-size: cover;
    padding: 70px;
    padding-top: 35px;
}
.catalog__title {
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
}
.breadcrumbs {
    display: flex;
    list-style: none;
    font-size: 16px;
}
/*--- Section Filter ---*/
.filter__form {
    display: flex;
}
.filter__group {
    border: none;
}
.filter__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: capitalize;
}
.filter__list {
    list-style: none;
    padding: 0;
}
.control {
    font-size: 18px;
    line-height: 23px;
}
.field__input {
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #000;
}
/*--- Section Hotels ---*/
.hotels {

}
.hotels__found-info {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #000;
}
.select-control {
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}
/*--- Hotels List ---*/
.hotels__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000;
}

.rating__value {
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
}